@model IEnumerable<Genre>

<li class="dropdown">
    <a asp-area="" asp-controller="Store" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown">Genres<b class="caret"></b></a>
    <ul class="dropdown-menu">
        @foreach (Genre g in Model)
        {
            <li>
                <a asp-area="" asp-controller="Store" asp-action="ListAlbums" asp-route-id="@g.GenreID">
                    @g.Name
                </a>
            </li>
        }

        <li class="divider"></li>
        <li>
            <a asp-area="" asp-controller="Store" asp-action="ListGenres">
                More ...
            </a>
        </li>
    </ul>
</li>

